body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.name-tag{
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 30vw;
  overflow: hidden;
  margin: auto;
  background-color: orange;
  border-radius: 15px;
  padding: 1rem;
}

.portrait-sm{
 width: 5rem;
 height: 5rem;
 object-fit: cover;
}

.btn-danger{
  background-color: orangered;
  color: white;
}